extends components/basic
block career
    body.career(style="overflow-y:auto;")
      include components/header
      .overlay
      .wrap
        .container-fluid.block.top
          h1 #{page.career.careerTitle}
          p.sub-h1 #{page.career.careerSubTitle}
          a(href=page.career.careerHrEmail)
          .photos_wrap
            .photo_item(style="background-image: url(http://wx3.sinaimg.cn/mw1024/006WYMcfly1fjxxdwy4srj318g0tl11u.jpg)" tabindex="1")
            .photo_item(style="background-image: url(http://wx2.sinaimg.cn/mw1024/006WYMcfly1fjxxe7g1l0j318g0tln5g.jpg)" tabindex="2")
            .photo_item(style="background-image: url(http://wx1.sinaimg.cn/mw1024/006WYMcfly1fjy3o149bej318g0xcwr3.jpg)" tabindex="3")
            .photo_item(style="background-image: url(http://wx4.sinaimg.cn/mw1024/006WYMcfly1fjxxdzrl4rj318g0tlwjk.jpg)" tabindex="6")
            .photo_item(style="background-image: url(http://wx2.sinaimg.cn/mw1024/006WYMcfly1fjxxehhkt0j318g0tljyk.jpg)" tabindex="5")
            .photo_item(style="background-image: url(http://wx3.sinaimg.cn/mw1024/006WYMcfly1fjxxecq3u8j318g0xctgp.jpg)" tabindex="4")
            .view
        .container.block.benefits
          h2 #{page.career.benefits}
          .benefits_wrap
            .benefits_item
              img(alt="" src="/images/svg/career/coin-yen.svg")
              h6 #{page.career.featureOne}
              p #{page.career.featureOneDetail}
            .benefits_item
              img(alt="" src="/images/svg/career/stopwatch.svg")
              h6 #{page.career.featureTwo}
              p #{page.career.featureTwoDetail}
            .benefits_item
              img(alt="" src="/images/svg/career/calculator.svg")
              h6 #{page.career.featureThree}
              p #{page.career.featureThreeDetail}
            .benefits_item
              img(alt="" src="/images/svg/career/calendar.svg")
              h6 #{page.career.featureFour}
              p #{page.career.featureFourDetail}
            .benefits_item
              img(alt="" src="/images/svg/career/grin.svg")
              h6 #{page.career.featureFive}
              p #{page.career.featureFiveDetail}
            .benefits_item
              img(alt="" src="/images/svg/career/office.svg")
              h6 #{page.career.featureSix}
              p #{page.career.featureSixDetail}
            .benefits_item
              img(alt="" src="/images/svg/career/mug.svg")
              h6 #{page.career.featureSeven}
              p #{page.career.featureSevenDetail}
            .benefits_item
              img(alt="" src="/images/svg/career/bullhorn.svg")
              h6 #{page.career.featureEight}
              p #{page.career.featureEightDetail}

        .container.block.opportunities
          h2 #{page.career.needTitle}
          ul.list
            li #{page.career.needOne}
            li #{page.career.needTwo}
            li #{page.career.needThree}
            li #{page.career.needFour}
            li #{page.career.needFive}
        include components/info
      include components/footer
