extends components/basic
block index
    include components/header
    .overlay
    .wrap
      .container-fluid.block.top
        .top_left
          #lxtech
          .top_info
            h1 #{page.index.title}
            p.sub-h1 #{page.index.subTitle}
            a.button.button-outline-white.button_medium(href='/about.html') #{page.index.more}
      .container-fluid.block.software_engineering
        h2 #{page.index.introTitle}
        p.sub-h2 #{page.index.introSubTitle}
        .tabs_slider
          .tab_item(name='active')
            img(alt='' src='images/svg/software_engineering/startup_ventures.svg')
            h6 #{page.index.featureOne}
          .tab_item
            img(alt='' src='images/svg/software_engineering/e_commerce.svg')
            h6 #{page.index.featureTwo}
          .tab_item
            img(alt='' src='images/svg/software_engineering/healthcare.svg')
            h6 #{page.index.featureThree}
          .tab_item
            img(alt='' src='images/svg/software_engineering/heavy_industry.svg')
            h6 #{page.index.featureFour}
          .content-wrap
            .indicator
              .active
            .content
              .content-l
                img(alt='' class='icon_bg' src='images/svg/icon_bg.svg')
                img(alt='' src='images/svg/software_engineering/startup_ventures.svg')
              .content-r
                h3 #{page.index.featureOne}
                p.big #{page.index.featureOneDetail}
            .content
              .content-l
                img(alt='' class='icon_bg' src='images/svg/icon_bg.svg')
                img(alt='' src='images/svg/software_engineering/e_commerce.svg')
              .content-r
                h3 #{page.index.featureTwo}
                p.big #{page.index.featureDetail}
            .content
              .content-l
                img(alt='' class='icon_bg' src='images/svg/icon_bg.svg')
                img(alt='' src='images/svg/software_engineering/healthcare.svg')
              .content-r
                h3 #{page.index.featureThree}
                p.big #{page.index.featureThreeDetail}
            .content
              .content-l
                img(alt='' class='icon_bg' src='images/svg/icon_bg.svg')
                img(alt='' src='images/svg/software_engineering/heavy_industry.svg')
              .content-r
                h3 #{page.index.featureFour}
                p.big #{page.index.featuerFourDetail}
      .container-fluid.block.success_stories
        .container
          h2 #{page.index.caseTitle}
          p.sub-h2 #{page.index.caseSubTitle}
          .content-r
            h4
              span.number #{page.index.projectCount}
              | #{page.index.projectContent}
            h4
              span.number #{page.index.mobileAppCount}
              | #{page.index.mobileAppContent}
            h4
              span.number #{page.index.memberCount}
              | #{page.index.memberContent}
            h4
              span.number #{page.index.partnerCount}
              | #{page.index.partnerContent}
          .top_rated_agency
            a.button.button_medium.button-green(href='https://www.upwork.com/agencies/~01bf1f175f500af9ac') #{page.index.hireButton}
      .container-fluid.block.words_from_clients
        h2 #{page.index.customerWords}
        p.sub-h2 #{page.index.customerSubTitle}
        .slider
          .content-wrap
            .content(slide='active')
              .words_wrap-item
                .photo_user
                  img(alt='' src='images/user_photo-2.jpg')
                .headline
                  p.text_color-dark_blu.bigLucy #{page.index.bossOneName}
                  p.text_color-cyan #{page.index.bossOneJobs}
                p.words_text #{page.index.bossOneWords}
            .content
              .words_wrap-item
                .photo_user
                  img(alt='' src='images/user_photo.jpg')
                .headline
                  p.text_color-dark_blu.big #{page.index.bossTwoName}
                  p.text_color-cyan #{page.index.bossTwoJobs}
                p.words_text #{page.index.bossTwoWords}
            .content
              .words_wrap-item
                .photo_user
                  img(alt='' src='images/user_photo-3.jpg')
                .headline
                  p.text_color-dark_blu.big #{page.index.bossThreeName}
                  p.text_color-cyan #{page.index.bossThreeJobs}
                p.words_text #{page.index.bossThreeWords}
          .arrow-left
            img(alt='' src='images/svg/arrow.svg')
          .arrow-right
            img(alt='' src='images/svg/arrow.svg')
      .container-fluid.block.get_our_media_kit-center
        h2 #{page.index.infoTitle}
        p.sub-h2 #{page.index.subTitle}
        form#media-kit-form
          input.input.input_rounded(placeholder=page.index.emailPlaceholder required='' type='email')
          input.button.button-blue.button_big(onclick='_ga(&#39;send&#39;, &#39;Infopack&#39;, &#39;Get_infopack&#39;)' type='submit' value=page.index.sendButton)
          svg.media_kit-bg(height='225' id='media_kit-bg' viewbox='0 0 1305 225' width='1305' xmlns='http://www.w3.org/2000/svg')
            g(fill-rule='evenodd' fill='none')
              polygon(fill='#8559da' id='obj_1' points='664.726 204 677.583 211.726 669.858 224.583 657 216.858')
              polygon(fill='#140078' id='obj_2' points='6.889 7.171 8.707 13.954 1.924 15.772 .106 8.988')
              polygon(fill='#512da8' id='obj_3' points='1300.726 117 1304.275 119.133 1302.142 122.682 1298.593 120.549')
              circle(cx='264' cy='10' fill='#2f1870' id='obj_4' r='10')
              circle(cx='987.5' cy='100.5' fill='#153587' id='obj_5' r='7.5')
              circle(cx='1163' cy='12' fill='#0C1F51' id='obj_6' r='5')
              circle(cx='184.5' cy='135.5' fill='#140078' id='obj_7' r='4.5')
              circle(cx='59.5' cy='114.5' fill='#512da8' id='obj_8' r='2.5')
              circle(cx='610' cy='166' fill='#140078' id='obj_9' r='2')
              circle(cx='916' cy='7' fill='#512da8' id='obj_10' r='7')
    include components/footer
