block append header
header.container-fluid
  .header_wrap
    .logo_wrap
      a(href="/")
        svg#LxTech_Software(version="1.1" viewBox="0 0 1075 510" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" xml:space="preserve")
          g
            path#fri-right-bottom(stroke="#fff" stroke-width='10' d="M57.069,332.416V440.07c-20.421-17.425-37.891-38.194-51.567-61.458v-87.326c0.012,0.012,0.023,0.021,0.035,0.033l241.259-153.917V16.089c17.887,2.449,35.154,6.845,51.567,12.988v118.759L57.069,332.416L57.069,332.416z")
          g
            path#sec-right-bottom(stroke="#fff" stroke-width='10' d="M126.15,481.401V362.902l241.293-184.533V69.097c20.224,16.718,37.688,36.646,51.567,59.033v89.4c-0.041-0.039-0.081-0.075-0.122-0.112l-241.171,156.69l0,0V495.1C159.808,492.425,142.543,487.781,126.15,481.401L126.15,481.401z")
          g
            path#fri-left-bottom(stroke="#fff" stroke-width='10' d="M126.15,149.175V30.198c16.393-6.38,33.658-11.022,51.567-13.697v120.992L419.01,294.071v89.398c-13.879,22.389-31.343,42.317-51.567,59.033v-109.29L126.15,149.175")
          g
            path#sec-left-bottom(stroke="#fff" stroke-width='10' d="M246.795,374.199L5.537,220.28l-0.035-87.291c13.676-23.266,31.146-44.035,51.567-61.46v108.63l241.294,183.606v118.76c-16.413,6.142-33.68,10.537-51.567,12.988V374.199H246.795z")
    nav
      buttom.hamburger_menu
        span
      ul.menu_items
        li
          a(href="/about.html") #{nav.about}
        li.drop_down
          a(href="javascript:void(0)") #{nav.service}
          .drop_down-menu
            .menu_l1
              a.web_development.menu_l1-active(href="/web-development.html")
                span
                  img(alt='' src='/images/svg/technology/web_development.svg')
                | #{subNav.web}
              a.mobile_development(href="/mobile-development.html")
                span
                  img(alt='' src='/images/svg/technology/mobile_development.svg')
                | #{subNav.mobile}
              a.product_design(href="/product-design.html")
                span
                  img(alt='' src='/images/svg/technology/product_design.svg')
                | #{subNav.design}
            .menu_l2
              .technologies_links.web_development-sub_menu.menu_l2-active
                a(href='/web/backbone.html')
                  img(alt='' src='/images/svg/technology/web_development/backbone.svg')
                  | #{thirdNav.web.backbone}
                a(href='/web/angular.html')
                  img(alt='' src='/images/svg/technology/web_development/angular.svg')
                  | #{thirdNav.web.angular}
                a(href='/web/react.html')
                  img(alt='' src='/images/svg/technology/web_development/react.svg')
                  | #{thirdNav.web.react}
                a(href='/web/nodejs.html')
                  img(alt='' src='/images/svg/technology/web_development/nodejs-icon.svg')
                  | #{thirdNav.web.node}
                a(href='/web/wordpress.html')
                  img(alt='' src='/images/svg/technology/web_development/wordpress-icon.svg')
                  | #{thirdNav.web.wordpress}
                a(href='/web/joomla.html')
                  img(alt='' src='/images/svg/technology/web_development/joomla.svg')
                  | #{thirdNav.web.joomla}
                a(href='/web/drupal.html')
                  img(alt='' src='/images/svg/technology/web_development/drupal.svg')
                  | #{thirdNav.web.drupal}
                a(href='/web/ai.html')
                  img(alt='' src='/images/svg/technology/web_development/ai.svg')
                  | #{thirdNav.web.ai}
                a(href='/web/api.html')
                  img(alt='' src='/images/svg/technology/web_development/api.svg')
                  | #{thirdNav.web.api}
                a(href='/web/d3.html')
                  img(alt='' src='/images/svg/technology/web_development/d3.svg')
                  | #{thirdNav.web.d3}
                a(href='/web/mongodb.html')
                  img(alt='' src='/images/svg/technology/web_development/mongo_db.svg')
                  | #{thirdNav.web.mongo}
                a(href='/web/postgresql.html')
                  img(alt='' src='/images/svg/technology/web_development/postgre_sql.svg')
                  | #{thirdNav.web.postgre}
              .technologies_links.mobile_development-sub_menu
                a(href='/mobile/android.html')
                  img(alt='' src='/images/svg/technology/mobile_development/kotlin.svg')
                  | #{thirdNav.mobile.android}
                a(href='/mobile/ios.html')
                  img(alt='' src='/images/svg/technology/mobile_development/swift.svg')
                  | #{thirdNav.mobile.ios}
                a(href='/mobile/desktop.html')
                  img(alt='' src='/images/svg/technology/mobile_development/electron.svg')
                  | #{thirdNav.mobile.electron}
              .technologies_links.product_design-sub_menu
                a(href='/design/brand.html')
                  img(alt='' src='/images/svg/technology/product_design/branding.svg')
                  | #{thirdNav.design.brand}
                a(href='/design/interact.html')
                  img(alt='' src='/images/svg/technology/product_design/interaction_design.svg')
                  | #{thirdNav.design.interact}
                a(href='/design/ui.html')
                  img(alt='' src='/images/svg/technology/product_design/ui_design.svg')
                  | #{thirdNav.design.ui}
                a(href='/design/sketch.html')
                  img(alt='' src='/images/svg/technology/product_design/sketch.svg')
                  | #{thirdNav.design.sketch}
        li
          a(href="/career.html") #{nav.career}
        li
          a(href='/contact.html') #{nav.contact}
      .estimation
        a.button.button-cyan(href='/get_estimation.html' onclick='_ga(&#39;send&#39;, &#39;Get_estimation&#39;, &#39;Form_estimation&#39;)') #{estimation}
