block append serviceArea
.row.other_services
  .col-sm-4.col-xs-12
    .other_service
      img(alt="" src="/images/svg/technology/web_development.svg")
      h3 #{subNav.web}
      p #{page.service.webDevIntro}
      a.button.button-outline-blue.arrow_right(href="/web-development.html") #{page.index.more}
  .col-sm-4.col-xs-12
    .other_service
      img(alt="" src="/images/svg/technology/mobile_development.svg")
      h3 #{subNav.mobile}
      p #{page.service.mobileDevIntro}
      a.button.button-outline-blue.arrow_right(href="/mobile-development.svg") #{page.index.more}
  .col-sm-4.col-xs-12
    .other_service
      img(alt="" src="/images/svg/technology/product_design.svg")
      h3 #{subNav.design}
      p #{page.service.productDesignIntro}
      a.button.button-outline-blue.arrow_right(href="/product-design.svg") #{page.index.more}