block append webTech
.technologies_links.technologies_we_use
  a(href='/web/backbone.html')
    img(alt='' src='/images/svg/technology/web_development/backbone.svg')
    | #{thirdNav.web.backbone}
  a(href='/web/angular.html')
    img(alt='' src='/images/svg/technology/web_development/angular.svg')
    | #{thirdNav.web.angular}
  a(href='/web/react.html')
    img(alt='' src='/images/svg/technology/web_development/react.svg')
    | #{thirdNav.web.react}
  a(href='/web/nodejs.html')
    img(alt='' src='/images/svg/technology/web_development/nodejs-icon.svg')
    | #{thirdNav.web.node}
  a(href='/web/wordpress.html')
    img(alt='' src='/images/svg/technology/web_development/wordpress-icon.svg')
    | #{thirdNav.web.wordpress}
  a(href='/web/joomla.html')
    img(alt='' src='/images/svg/technology/web_development/joomla.svg')
    | #{thirdNav.web.joomla}
  a(href='/web/drupal.html')
    img(alt='' src='/images/svg/technology/web_development/drupal.svg')
    | #{thirdNav.web.drupal}
  a(href='/web/ai.html')
    img(alt='' src='/images/svg/technology/web_development/ai.svg')
    | #{thirdNav.web.ai}
  a(href='/web/api.html')
    img(alt='' src='/images/svg/technology/web_development/api.svg')
    | #{thirdNav.web.api}
  a(href='/web/d3.html')
    img(alt='' src='/images/svg/technology/web_development/d3.svg')
    | #{thirdNav.web.d3}
  a(href='/web/mongodb.html')
    img(alt='' src='/images/svg/technology/web_development/mongo_db.svg')
    | #{thirdNav.web.mongo}
  a(href='/web/postgresql.html')
    img(alt='' src='/images/svg/technology/web_development/postgre_sql.svg')
    | #{thirdNav.web.postgre}